.modal-bg {
  background-color: rgb(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ing-modal {
  display: grid;
  grid-template-areas:
    "head head"
    "left right"
    "left right";
  grid-template-rows: 80px 1fr 30px;
  grid-template-columns: 30% 1fr;
  /* grid-gap: 1rem; */
  width: 80vw;
  max-width: 80rem;
  height: 0vh;
  background-color: #f9f9f9;
  border-radius: 1%;
  box-shadow: 5px 5px 10px 0px black;
  overflow: hidden;
}

.ing-modal {
  transition: width 1s ease-in-out;
  height: 80vh;
}

.ing-modal__header {
  position: relative;
  grid-area: head;
  /* height: 80px; */
  background-color: #b0e298;
  background-color: #e072a4;
  display: flex;
  align-items: center;
  overflow: visible;
}

.ing-modal__header-logo {
  width: 150px;
  margin-left: 1rem;
  margin-top: 2.5rem;
  margin-right: 1rem;
  position: absolute;
}

.ing-modal__header-title {
  color: black;
  margin-left: 11rem;
  margin-right: auto;
}

.ing-modal__header-icon {
  position: absolute;
  right: -0;
  margin: 2rem;
  font-size: 2em;
  color: #3d3b8e;
  cursor: pointer;
}

.left {
  grid-area: left;
  background-color: #b0e298;
  background-color: #f9f9f9;
  max-width: 10rem;
  /* width: 30%; */
  /* height: calc(100% - 80px); */
  /* border: 1px solid red; */
}

.right {
  grid-area: right;
  background-color: blueviolet;
  background-color: #f9f9f9;
  border-left: 1px solid black;
  /* width: 100px; */
  /* height: 100px; */
}
