.login-bg {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: loginFadeIn 150ms linear forwards;
}

@keyframes loginFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login-signup {
  max-width: 80%;
  width: 500px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 3px 7px 10px rgba(61, 59, 142, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.login-modal-container {
  height: 400px;
}

.signup-modal-container {
  height: 800px;
}

@media screen and (max-height: 480px) {
  .login-modal-container {
    position: absolute;
    top: 40px;
  }
}

@media screen and (max-height: 880px) {
  .signup-modal-container {
    position: absolute;
    top: 40px;
  }
}

.modal-title {
  background-color: #100dce;
  color: #f9f9f9;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-modal-container .modal-title {
  height: 60px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 75%;
}

.signup-link-container {
  width: 100%;
  height: 10%;
  text-align: center;
  font-size: large;
  font-weight: 400;
}

.signup-link {
  color: #100dce;
  text-decoration: underline;
  cursor: pointer;
}

.login-modal-form {
  padding: 5% 0;
}

.signup-modal-form,
.login-modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  height: 90%;
}

.signup-modal-form label,
.login-modal-form label {
  transform: translateX(-9999px);
}

.signup-modal-form input,
.login-modal-form input {
  border-color: rgba(104, 131, 186, 0.1);
  border-radius: 5px;
  height: 40px;
  width: 60%;
  font-size: 18px;
  padding: 0 10px;
}

.signup-modal-form input::placeholder,
.login-modal-form input::placeholder {
  color: black;
  font-size: 18px;
  text-align: center;
}

.signup-modal-form input:focus,
.login-modal-form input:focus {
  outline-color: #100dce;
  box-shadow: 0 0 4px 0px #100dce;
}

.login-signup-btn {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: none;
  color: #f9f9f9;
  font-weight: 600;
  background-color: #100dce;
  box-shadow: 3px 7px 8px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}
