.navbar {
  height: 64px;
  background-color: #6883ba;
  background-color: #f9f9f9;
  background-color: #e072a4;
  background-color: #b0e298;
  background-color: #3d3b8e;
  display: flex;
  align-items: center;
}

.navbar__logo {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  width: 120px;
  height: 120px;
}

.navbar__title {
  margin-right: auto;
  color: #f9f9f9;
}

.navbar__title-name {
  font-weight: 800;
}

.navbar__title-text {
  font-weight: 600;
}

.navbar__login {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.navbar__login-btn {
  color: #6883ba;
  font-size: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.navbar__login-text {
  color: #f9f9f9;
  font-weight: 800;
  cursor: pointer;
}
